.formdesign{
  width: 1000px;
  padding-left: 400px;
}
.seconddiv{
  background-image: url('../public/assets/Registraion.png');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: 100% 100%;
}